{
  "env": {
    "dev": {
      "presets": [
        "env",
        "stage-0"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
